/* CSS in progress */

body {
    background-color: antiquewhite;
}

h1 {
    color: magenta;
}

h1, h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkblue;
}

figcaption {
    font-size: .75em;
    font-style:italic;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    background-color: #dddddd;
    padding: 10px;   
    border-radius: 25px;  
}

/* styling the data table here */
th, td {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 6px;  
    border-color: #FFFFFF;
    border-collapse: collapse;
    text-align: right;
}

/* styling the line item markers to circles */
ul {
    list-style: circle;
}

/* styling <a href=""> links with pseudo code */

/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: olivedrab;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}


/* footer to be styled further */
footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    color: gray;
}

/* styling based on a class */

.image-gallery {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:cornflowerblue;
}

.listing {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    background-color: #dddddd;
    width:fit-content;
    padding: 20px;
    border-radius: 25px; 
}

/* styling based on a unique ID */

#summary {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    color: magenta;
}
