.about {
  width: 1494px;
  height: 659.6px;
  margin: 0 auto;
  position: relative;
}

.about img {
  position: absolute;
}

.about .font1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16.8px;
  position: absolute;
  color: #3b3b3b;
  width: 542px;
  line-height: 30px;
  letter-spacing: 0.3px;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 28.8px;
  color: #1f1f1f;
  font-weight: Bold;
  position: absolute;
}

.temp {
  width: 1494px;
  height: 659.6px;
  margin: 0 auto;
  position: relative;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,th {
  padding: 0;
}

.pure-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
  margin-left: 752.0px;
}

.pure-table caption {
  color: #000;
  font: italic 85%/1 arial,sans-serif;
  padding: 1em 0;
  text-align: center;
}

.pure-table td,.pure-table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: .5em 1em;
}

.pure-table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

.pure-table td {
  background-color: transparent;
}