.container {
  position: absolute;
  /* border: 2px solid white; */
  width:1094.0px;
  margin:197.6px 0 0 200px;
  height: 589.6px;
}
.container .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 1094.0px 100%;
}
.container .background-img {
  background-image: url("../image/ia/pre_old.png");
}
.container .foreground-img {
  background-image: url("../image/ia/pre_new.png");
  width: 542px;
}
.container .slider {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0);
  outline: none;
  margin: 0;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
}
.container .slider:hover {
  background: rgba(47, 47, 47, 0.2);
  border-radius: 26px;
}
.container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 6px;
  height: 589.6px;
  background: linear-gradient(to top, #fff 0%, #fff 45%, transparent 45%, transparent 55%, #fff 55%, #fff 100%);
  cursor: pointer;
}
.container .slider::-moz-range-thumb {
  width: 6px;
  height: 589.6px;
  background: white;
  cursor: pointer;
}
.container .slider-button {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid rgb(255, 255, 255);
  left: calc(50% - 36px);
  top: calc(50% - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  mask: radial-gradient(transparent 50px, #000 50px);
}
.container .slider-button:after {
  content: "";
  padding: 4px;
  display: inline-block;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
}
.container .slider-button:before {
  content: "";
  padding: 4px;
  display: inline-block;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(135deg);
}