#page0 {
  background: linear-gradient(
      127deg,
      rgba(140, 117, 235, 0.5),
      rgba(79, 82, 204, 0.5),
      rgba(140, 117, 235, 0.5)
    )
    no-repeat;
  width: 100%;
  min-width: 1494px;
  height: 700px;
  background-size: cover;
}

#page0 .content {
  width: 1494px;
  height: 700px;
  margin: 0 auto;
  position: relative;
}

#page0 .font1 {
  font-family: "Poppins", sans-serif;
  font-size: 79.6px;
  color: #1f1f1f;
  font-weight: Bold;
  position: absolute;
  line-height: 96.5px;
}

#page0 .font2 {
  font-family: "Helvetica Neue Bold", sans-serif;
  font-size: 28.8px;
  color: #1f1f1f;
  position: absolute;
}

#page0 .font3 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16.8px;
  color: #1f1f1f;
  position: absolute;
}

#page1 {
  background: url("../image/fireworks/page1_background.png") no-repeat;
  width: 100%;
  min-width: 1494px;
  height: 694.8px;
  background-size: cover;
}

#page1 .content {
  width: 1494px;
  height: 694.8px;
  margin: 0 auto;
  position: relative;
}

#page1 .font1 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 16.8px;
  position: absolute;
  width: 416px;
  text-align: justify !important;
  color: #ffffff;
}

#page1 .font2 {
  font-family: "Helvetica Neue Bold", sans-serif;
  font-size: 16.8px;
  position: absolute;
  color: #ffffff;
}
#page1 .font3 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #ffffff;
}

#page2 {
  width: 1494px;
  height: 1422.4px;
  margin: 0 auto;
  position: relative;
}

#page2 .font1 {
  font-family: "Helvetica Neue Bold", sans-serif;
  font-size: 42px;
  position: absolute;
  color: #4f52cc;
}

#page2 .font2 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 16.8px;
  position: absolute;
  width: 355px;
  text-align: justify !important;
  color: #1f1f1f;
}

#page2 .font3 {
  font-family: "Helvetica Neue Bold", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #4a4a4a;
}

#page2 .font4 {
  font-family: "Poppins", sans-serif;
  font-size: 28.8px;
  width: 971.2px;
  position: absolute;
  color: #4f52cc;
  font-weight: Bold;
}

#page3 {
  width: 1494px;
  height: 1558.4px;
  margin: 0 auto;
  position: relative;
}

#page3 .font1 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 16.8px;
  position: absolute;
  width: 509.2px;
  text-align: justify !important;
  color: #1f1f1f;
}

#page3 .font2 {
  font-family: "Helvetica Neue Bold", sans-serif;
  font-size: 16.8px;
  position: absolute;
  width: 77.6px;
  text-align: justify !important;
  color: #000000;
}

#page3 .font3 {
  font-family: "Helvetica Neue Bold", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #4a4a4a;
}

#page3 .font4 {
  font-family: "Poppins", sans-serif;
  font-size: 28.8px;
  position: absolute;
  color: #4f52cc;
  font-weight: Bold;
}

#page3 .font5 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #4f52cc;
  text-decoration: underline;
}

#page3 .font6 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #3b3b3b;
}

#page4 {
  background: url("../image/fireworks/page4_background.png") no-repeat;
  width: 100%;
  min-width: 1494px;
  height: 431.6px;
  background-size: cover;
}

#page4 .content {
  width: 1494px;
  height: 431.6px;
  margin: 0 auto;
  position: relative;
}

#page4 .font1 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 16.8px;
  position: absolute;
  width: 310px;
  text-align: justify !important;
  color: #ffffff;
}

#page5 {
  width: 1494px;
  height: 1747.2px;
  margin: 0 auto;
  position: relative;
}

#page5 .font1 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 16.8px;
  position: absolute;
  color: #ffffff;
  font-weight: 200;
}

#page5 .font2 {
  font-family: "Helvetica Neue Bold", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #4a4a4a;
}

#page5 .font3 {
  font-family: "Poppins", sans-serif;
  font-size: 28.8px;
  width: 971.2px;
  position: absolute;
  color: #4f52cc;
  font-weight: Bold;
}

#page5 .font4 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 16.8px;
  width: 505.2px;
  position: absolute;
  text-align: justify !important;
  color: #3b3b3b;
}

#page5 .font5 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #4f52cc;
}

#page5 .font6 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #3b3b3b;
}

#page6 {
  background: url("../image/fireworks/page6_background.png") no-repeat;
  width: 100%;
  min-width: 1494px;
  height: 710px;
  background-size: cover;
}

#page6 .content {
  width: 1494px;
  height: 710px;
  margin: 0 auto;
  position: relative;
}

#page6 .font1 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #ffffff;
  font-weight: 200;
  opacity: 0.5;
}

#page6 .font2 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16.8px;
  position: absolute;
  color: #ffffff;
  font-weight: 550;
}

#page6 .font3 {
  font-family: "Poppins", sans-serif;
  font-size: 28.8px;
  color: #c7c9ff;
  font-weight: Bold;
  position: absolute;
}

#page7 {
  width: 1494px;
  height: 472.4px;
  margin: 0 auto;
  position: relative;
}

#page7 .font1 {
  font-family: "Helvetica Neue Bold", sans-serif;
  font-size: 16.8px;
  position: absolute;
  color: #4f52cc;
}

#page7 .font2 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #1f1f1f;
}

#page7 .font3 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 16.8px;
  position: absolute;
  width: 480px;
  color: #1f1f1f;
  text-align: justify !important;
}

#page7 .font4 {
  font-family: "Helvetica Neue Bold", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #8c75eb;
}

#page8 {
  width: 1494px;
  height: 662px;
  margin: 0 auto;
  position: relative;
}

#page8 .font1 {
  font-family: "Helvetica Neue Bold", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #ffffff;
  width: 130.4px;
  text-align: center;
}

#page8 .font2 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #ffffff;
}

#page8 .font3 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #3b3b3b;
}

#page8 .font4 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #acacac;
}

#page8 .font5 {
  font-family: "Helvetica Neue Bold", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #4f52cc;
  text-align: center;
  font-style: italic;
}

#page8 .font6 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #3b3b3b;
  text-align: center;
  transform: rotate(270deg);
}

#page9 {
  width: 1494px;
  height: 922px;
  margin: 0 auto;
  position: relative;
}

#page9 .font1 {
  font-family: "Helvetica Neue Bold", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #000000;
}

#page9 .font2 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #000000;
}

#page9 .font3 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #acacac;
}

#page9 .font4 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #8c75eb;
}

#page9 .font5 {
  font-family: "Helvetica Neue Bold", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #4f52cc;
  font-style: italic;
}

#page9 .font6 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #1f1f1f;
  line-height: 20px;
}

#page10 {
  width: 1494px;
  height: 868.8px;
  margin: 0 auto;
  position: relative;
}

#page10 .font1 {
  font-family: "Helvetica Neue Bold", sans-serif;
  font-size: 20.8px;
  position: absolute;
  color: #4f52cc;
  font-style: italic;
  opacity: 40%;
}

#page10 .font2 {
  font-family: "Helvetica Neue Bold", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #1f1f1f;
}

#page10 .font3 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #1f1f1f;
}

#page10 .font4 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 16.8px;
  position: absolute;
  color: #3b3b3b;
}

#page10 .font5 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 16.8px;
  position: absolute;
  color: #3b3b3b;
  text-align: center;
}

#page11 {
  background: url("../image/fireworks/page11_background.png") no-repeat;
  width: 100%;
  min-width: 1494px;
  height: 1709.2px;
  background-size: cover;
}

#page11 .content {
  width: 1494px;
  height: 929.2px;
  margin: 0 auto;
  position: relative;
}

#page11 .content1 {
  width: 1494px;
  height: 780px;
  margin: 0 auto;
  position: relative;
}

#page11 .font1 {
  font-family: "Helvetica Neue Bold", sans-serif;
  font-size: 20.8px;
  position: absolute;
  color: white;
  font-style: italic;
}

#page11 .font2 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: white;
}

#page11 .font3 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 16.8px;
  position: absolute;
  color: white;
}

#page11 .font4 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: white;
  width: 354px;
  text-align: justify !important;
}

#page12 {
  background: url("../image/fireworks/page12_background.png") no-repeat;
  width: 100%;
  min-width: 1494px;
  height: 400px;
  background-size: cover;
}

#page12 .content {
  width: 1494px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}

#page12 .font1 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 16.8px;
  position: absolute;
  color: white;
  width: 379.2px;
  text-align: justify !important;
}

#page12 .font2 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 80px;
  position: absolute;
  color: white;
  opacity: 8%;
}

#page12 .font3 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16.8px;
  position: absolute;
  color: white;
}

#page12 .font4 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: white;
  font-style: italic;
  width: 104.8px;
}

#page12 .font5 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: white;
  width: 234px;
  text-align: justify !important;
  opacity: 70%;
}

#page12-1 {
  background: url("../image/fireworks/page12_background.png") no-repeat;
  width: 100%;
  min-width: 1494px;
  height: 311.2px;
  background-size: cover;
}

#page12-1 .content {
  width: 1494px;
  height: 311.2px;
  margin: 0 auto;
  position: relative;
}

#page12-1 .font1 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 16.8px;
  position: absolute;
  color: white;
  width: 379.2px;
  text-align: justify !important;
}

#page12-1 .font2 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 80px;
  position: absolute;
  color: white;
  opacity: 8%;
}

#page12-1 .font3 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16.8px;
  position: absolute;
  color: white;
}

#page12-1 .font4 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: white;
  font-style: italic;
  width: 104.8px;
}

#page12-1 .font5 {
  font-family: "Helvetica Neue Light", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: white;
  width: 234px;
  text-align: justify !important;
  opacity: 70%;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 28.8px;
  color: #1f1f1f;
  font-weight: Bold;
  position: absolute;
}

img {
  position: absolute;
}

#process {
  width: 1494px;
  height: 728px;
  margin: 0 auto;
  position: relative;
}

#process .font1 {
  font-family: "Helvetica Neue Bold", sans-serif;
  font-size: 16.8px;
  position: absolute;
  color: #3b3b3b;
}

#footer1 {
  background: url("../image/fireworks/page12_background.png") no-repeat;
  width: 100%;
  min-width: 1494px;
  height: 436px;
  background-size: cover;
}

#footer1 .content {
  width: 1494px;
  height: 436px;
  margin: 0 auto;
  position: relative;
}

#footer1 .font1 {
  font-size: 28.8px;
  font-weight: Bold;
  position: absolute;
  color: #ffffff;
}

#footer1 .font2 {
  font-family: "Helvetica Neue Bold", sans-serif;
  font-size: 16.8px;
  position: absolute;
  color: #ffffff;
  text-align: justify !important;
}

#footer1 .font3 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: #ffffff;
  opacity: 0.5;
}

#footer1 .font4 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14.4px;
  position: absolute;
  color: white;
  line-height: 20px;
  opacity: 0.75;
}

#footer1 img {
  position: absolute;
}

#page_pre {
  width: 1494px;
  height: 854.8px;
  margin: 0 auto;
  position: relative;
}

#page_pre img {
  position: absolute;
}

#page_pre .font1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16.8px;
  position: absolute;
  color: #3b3b3b;
  line-height: 22.4px;
  width: 546.8px;
}
