canvas {
  display: block;
  margin-top: 50px;
}

@media all and (max-width: 1050px) {
  canvas {
    margin-top: 100px;
  }
}

.intro {
  display: flex;
  justify-content: flex-end;
  flex-flow: column wrap;
  list-style: none;
  margin: 0 auto;
  align-items: center;
}

.intro p {
  color: #4c4c4c;
}

.intro .description {
  font-size: 20px;
  width: 650px;
  text-align: justify;
  letter-spacing: 1px;
  margin-top: 0;
}

@media all and (max-width: 700px) {
  .intro .description {
    width: 400px;
  }
}

#page1 {
  width: 1494px;
  height: 653.6px;
  margin: 0 auto;
  position: relative;
}

#page1 .font1 {
  font-size: 79.6px;
  font-weight: Bold;
  position: absolute;
  color: #1f1f1f;
  width: 542px;
}

#page1 .font2 {
  font-family: 'Helvetica Neue Bold', sans-serif;
  font-size: 28.8px;
  position: absolute;
  color: #1f1f1f;
  letter-spacing: 1px;
  width: 542px;
  line-height: 40px;
}

#page1 img {
  position: absolute;
}

.img-box {
  width: 472px;
  height: 425.8646617px;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0px 0px 60px 60px rgba(92, 92, 92, 0.05);
}

.img {
  display: block;
  width: 472px;
  height: 425.8646617px;
  transition: all 0.75s;
}

#bar_etc {
  width: 1494px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}

.bar_etc_font {
  font-family: "Poppins", sans-serif;
  font-size: 28.8px;
  color: #1F1F1F;
  font-weight: Bold;
  position: absolute;
  letter-spacing: 0.9px;
}

.bar_etc_font_1 {
  font-family: "Poppins", sans-serif;
  font-size: 22.4px;
  color: #1F1F1F;
  font-weight: 500;
  position: absolute;
  letter-spacing: -0.1px;
}

#page_the {
  width: 1494px;
  height: 106.0px;
  margin: 0 auto;
  position: relative;
}

#container1 {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  width: max(1494px,100%);
  height: 436.0px;

}

.image1 {
  display: inline-block;
  height: 336.0px;
  position: absolute;
  margin-right: 20px;
  margin-top: 50px;
}

.image1_h {
  display: inline-block;
  height: 336.0px;
  position: absolute;
  margin-right: 20px;
  margin-top: 50px;
}